
<footer id="footer" class="footer-1">
	<div class="main-footer widgets-dark typo-light">
	<div class="container">
	<div class="row">

	  <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="widget subscribe no-box">
	<h5 class="widget-title">Rapid Red<span></span></h5>
	<p>We aim to deliver services to save as many lives possible. Every life matters.</p>
	</div>
	</div>

	  
	<div class="col-xs-12 col-sm-6 col-md-3">
	<div class="widget no-box">
	<h5 class="widget-title">Quick Links<span></span></h5>
	<ul class="thumbnail-widget">
	<li>
	<div class="thumb-content"><a href="/">&nbsp;Home</a></div> 
	</li>
	<li>
	<div class="thumb-content"><a href="banks">&nbsp;Banks</a></div> 
	</li>
	<li>
	<div class="thumb-content"><a href="register">&nbsp;Register</a></div> 
	</li>
	<li>
	<div class="thumb-content"><a href="about">&nbsp;About</a></div> 
	</li>
	<li>
	<div class="thumb-content"><a href="request">&nbsp;Request</a></div> 
	</li>
	</ul>
	</div>
	</div>

	  

	      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="widget no-box">
	<h5 class="widget-title">Follow up<span></span></h5>
	            <a href="https://en-gb.facebook.com/login/"> <i class="fa fa-facebook"> </i> </a>
	            <a href="https://twitter.com/login?lang=en-gb"> <i class="fa fa-twitter"> </i> </a>
	            <a href="https://www.youtube.com/channel/UCWU7yZkg5_wP2IyvpPkrIKg"> <i class="fa fa-youtube"> </i> </a>
	</div>
	</div>
	<br>
	  <br>


	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="widget no-box">
			<h5 class="widget-title">Subscribe Us<span></span></h5>
			<p>Feel free to contact us. All your queries will be heard.</p>
				<form method="post" action="/subscribe">
			 	<div class="emailfield">
				<input type="email" name="email" placeholder="Email" required>
				
				<input class="submitbutton ripplelink" type="submit" value="Subscribe"> 
				</div>
				</form>
			</div>
			</div>
		</div>
	</div>
	  
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright Design Imposter © 2020. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>	
</body>
</html>