<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/home.css">



<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title ml12" style="font-family: 'Maven Pro', sans-serif;font-size: 100px;text-shadow: 2px 2px black">Rapid Red</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section shadow-lg">
        <div class="container">
            <div class="card-block bg-dark mb30" style="box-shadow: 4px 4px 2px">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h1 style="font-family: 'Josefin Sans', sans-serif;color:white;letter-spacing: 2px;text-shadow: 1px 1px;font-size: 45px;"><center>Welcome to Rapid Red</center></h1>
                            <p style="color:white">Our VISION is to develop Life Blood Centre as the best blood centre in India to enhance and save lives of patients and sustain the leadership and our MISION is safe, high quality and stable blood supply to hospitals, provides specialized testing in the field of heamatology and transfusion medicine,therapies and clinical research of blood-related diseases and disorder, education and training and services to hospitals and other blood banks using state-of-the-art technologies, empowered, engaged and skilled employees, academia, blood centres and outside experts to bring innovative solution for patients and hospitals.</p>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
            </div>
            </div>
            </div>


            <section class="section-4">
            <div class="container text-center">
              <h1 class="ml9">
                <span class="text-wrapper">
                  <span class="letters" style="color:#8a0303;font-family: 'Frank Ruhl Libre', serif;font-size: 55px">What Happens to Donated Blood?</span>
                </span>
              </h1>
              <p  style="color:grey; font-size:23px;font-family:gadugi">Have you ever wondered exactly what happens to the blood you donate at the American Red Cross? Your blood goes on an amazing journey!</p>
            </div>
            <div class="container" style="padding-bottom: 80px;">
            <div class="row">
              <div class="col-lg-4 col-12 text-center">
                  <div class="card mr-2 d-inline-block shadow-lg" style="box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
                      <div class="card-img-top">
                        <img src="images/Card1.jpeg" class="img-fluid border-radius p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">The Donation</h3>
                        <p class="card-text" style="font-family: 'Overpass', sans-serif;color: gray;">
                            You arrive for your blood donation appointment.Health history and mini physical are completed.Your donation, test tubes and your donor record are labeled with an identical bar code label.Your donation is kept on ice before being taken to a Red Cross center for processing; the test tubes go to the lab.
                        </p>
                      </div>
                    </div>
              </div>

                <div class="col-lg-4 col-12 text-center">
                  <div class="card mr-2 d-inline-block shadow-lg" style="box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
                      <div class="card-img-top">
                        <img src="images/Card2.jpeg" class="img-fluid border-radius p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Processing,Testing & Testing</h3>
                        <p class="card-text" style="font-family: 'Overpass', sans-serif;color: gray;">
                            At our processing center, information about your donation is scanned into a computer database.A dozen tests are performed, to establish the blood type and test for infectious diseases.When test results are received, units suitable for transfusion are labeled and stored.
                        </p>
                      </div>
                    </div>
              </div>


              <div class="col-lg-4 col-12 text-center">
                  <div class="card mr-2 d-inline-block shadow-lg" style="box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
                      <div class="card-img-top">
                        <img src="images/Card3.jpeg" class="img-fluid border-radius p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Distribution & Transfusion</h3>
                        <p class="card-text" style="font-family: 'Overpass', sans-serif;color: gray;">
                            Blood is available to be shipped to hospitals 24 hours a day, 7 days a week.Hospitals typically keep some blood units on their shelves, but may call for more at any time, such as in case of large scale emergencies.Patients who are unable to make enough platelets, due to illness or chemotherapy, may receive platelet transfusions to stay healthy.
                        </p>
                      </div>
                    </div>
              </div>
            </div>
          </div>
          </section>



<%- include('partials/footer'); -%>