.page-header { background: url(https://easetemplate.com/free-website-templates/medical/images/slider-1.jpg)no-repeat; position: relative; background-size: cover; }
.page-caption { padding-top: 170px; padding-bottom: 174px; }
.page-title { font-size: 46px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }

.card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; }


.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.section-4{
  background-color:white;
}
.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
    font-family: 'flamingo', cursive;
}
  .section-4 .container p {
    font-size: large;
    font-family: 'Dancing Script', cursive;
  }

  
  .section-4 .team {
    padding: 10vmin 4vmin;
  }
  
  .section-4 .card {
    width: 22em;
    margin-top: 10vmin;
  }
  
  .section-4 .card .card-text {
    padding: 0.5em;
  }
  
  .section-4 .card-body > a {
    font-size: 1.5em;
  }
  
  .section-4 .carousel-item {
    padding-left: 3rem;
  }
  
  .para{
    font-size: 20px;
    
  }
  @media only screen and (max-width: 375px) {
    .section-4 .card {
      width: 18em;
    }
  }
  @media only screen and (max-width: 320px) {
    .section-4 .carousel-inner {
      margin-left: -4vmin;
    }


.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}